.navBar {
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--background-color);
}

.navCont {
    padding: 15px 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .leftNav {
        display: flex;
        align-items: center;
        gap: 14px;
        font-family: 'Cinzel', serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        cursor: pointer;
    }

    .rightNav {
        display: flex;
        align-items: center;
        gap: 43px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

        & p {
            position: relative; 
        }

        & p::before {
            width: 100%;
            top: 100%;
            margin-top: 5px;
            height: 3px;
            content: "";
            transform: scaleX(0);
            transform-origin: right;
            background: linear-gradient(295.38deg, #ffe5a2 4.89%, #bf841a 50.44%, #ffcd74 95.06%);
            position: absolute;
            transition: transform 0.3s;
        }        

        & a:hover p::before {
            transform: scaleX(1);
            transform-origin: left;
        }
    }
}

@keyframes slideIn {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(105%);
    }
}